{% extends 'base.html' %}

{% block content %}
    <p>This is an actual template......</p>
    <h1>Hello {{name}}, life is good. Programming is the way....</h1>
    <hr>
    <p>Programming is such a fantastic way of life. And those that plug into this way of life will definitly be able to sustain their success in the future. Mark my words.</p>
    <form action="add" method="post">
        {% csrf_token %}
        <input type="text" name="num1" placeholder="Enter a Number: "/><br>
        <input type="text" name="num2" placeholder="Enter another number: "><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}